[submodule "EmpowerHer-FrontEnd"]
	path = EmpowerHer-FrontEnd
	url = https://github.com/d-aggarwal/EmpowerHer-FrontEnd.git
[submodule "EmpowerHer-BackEnd"]
	path = EmpowerHer-BackEnd
	url = https://github.com/d-aggarwal/EmpowerHer-BackEnd.git
[submodule "TimelinePlannerModel"]
	path = TimelinePlannerModel
	url = https://github.com/d-aggarwal/TimelinePlannerModel.git
[submodule "NameGeneratorModel"]
	path = NameGeneratorModel
	url = https://github.com/d-aggarwal/NameGeneratorModel.git
